.adat{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
.alahuz{
    position:relative;
    text-decoration:none;
    display:inline-block;
}
.alahuz:after {
    display:block;
    content: '';
    border-bottom: solid 3px #444444;
    transform: scaleX(0);
    transition: transform 1s ease-in-out;
    transform-origin:100% 50%
}

.alahuz:hover:after {
    transform: scaleX(1);
    transform-origin:0 50%;
}

.fontos {
    position: relative;
    left: 10%;
    font-size: 120%;
    color: darkred;
    padding: 10px;
    margin: 10px auto;
}

.input-container {
    width: 80%;
    margin: 8px auto;
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 10px;
}

.szolgaltatas-lista{
    list-style-type: disc;
    padding-bottom: 4px;
}

.szolgaltatas-lista li{
    margin-top: 5px;
}

.gombok {
    background-color: #aaa;
    border-radius: 5px;
    padding: 10px;
    border: 3px solid #444444;
    text-align: center;
    margin: 10px auto;
    position: relative;
    left: 40%;
    transition: color .5s ease-in-out, background-color 1s ease-in-out;
}

.gombok:hover{
    cursor: pointer;
    color: #aaa;
    background-color: #444;
}