@media screen and (min-width: 600px) {
    body {
        font-size: .8em;
    }
}

@media screen and (min-width: 1620px) {
    body {
        font-size: 1.2em;
    }
}

@media screen and (min-width: 992px) {
    body {
        font-size: 1em;
    }
}

@media screen and (max-width: 600px) {
    body {
        font-size: .6em;
    }

    aside {
        display: none;
    }

    main {
        width: 100%;
        left: 10px;
    }
}

@media print {
    body{
        color: black;
        background-color: white;
        text-shadow: none;
        font-family: sans-serif;
    }
    video, audio{display: none;}
    table{page-break-inside: avoid;}
}

@page {
    margin: 5pt;
}

@keyframes optionalInputSotetedik {
    0% {background-color: #e0ffe9;}
    100% {
        opacity: 1;
        background-color: #a1ffbb;
    }
}

@keyframes requiredInputSotetedik {
    0% {background-color: #ffdbdb;}
    100% {
        opacity: 1;
        background-color: #ff8d8d;
    }
}

@keyframes textareaFocusban {
    0%{opacity: 1;}
    100%{opacity: 1;}
}